BOT_TOKEN="BOT_TOKEN_ANDA_DARI_BOTFATHER"
VALID_EMAIL_DOMAINS="@stu.pnj.ac.id,@mhsw.pnj.ac.id"
SENDER_EMAIL="email_anda@gmail.com"
SENDER_APP_PASSWORD="PASSWORD_APLIKASI_GMAIL_ANDA"
ADMIN_CHAT_ID="ID_TELEGRAM_ADMIN"
BAN_THRESHOLD="3"
DUMMY_USER_ID=""
DB_HOST="127.0.0.1"
DB_PORT=3306
DB_USER="pnjchat_user"
DB_PASS="password_database_yang_aman"
DB_NAME="pnjchat"